<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-row style="margin-top: 30px">
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >CEP <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="00000-000"
            (ionChange)="searchCEP($event)"
            maxlength="8" 
            [(ngModel)]="endereco.cep"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Número <span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="ex: 135"
            [(ngModel)]="endereco.numero"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Complemento </ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Casa,Apto"
            [(ngModel)]="endereco.complemento"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Rua </ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Rua"
            [(ngModel)]="endereco.endereco"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Bairro</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Bairro"
            [(ngModel)]="endereco.bairro"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Cidade</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Cidade"
            [(ngModel)]="endereco.cidade"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundInput" line="none">
          <ion-label position="floating"
            >Estado </ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Estado"
            [(ngModel)]="endereco.estado"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
      <ion-button shape="block" color="secondary" (click)="cadastrar()"
        >{{LabelBotao}}</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
