<ion-content class="fundo" [fullscreen]="true">
  
  <div class="espaco">
  <ion-row style="margin-top: 30px;">
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">CEP <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="00000-000"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Número <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="ex: 135"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Complemento <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="Casa,Apto"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Rua <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="Rua"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Bairro <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="Bairro"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Cidade <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="Cidado"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      <ion-item class="roundInput" line="none">
        <ion-label position="floating">Estado <span style="color: red;">*</span></ion-label>
        <ion-input type="text" expand="block" style="color:#222;" placeholder="Estado"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
      <ion-button shape="block" color="secondary">Cadastrar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>



